<div class="home">
  <div id = "Header" class="info" (click)="logoutUser()">
    Minhaj Ahmed Moin <span class = "tooltiptext">Log Out</span>
  </div>
  <div class="enter-the-app">
    <div class="links">
      <div routerLink="/todo" class="link-item-p">
        <p>Todo</p>
      </div>
    </div>
    <!-- <div class="links">
      <div routerLink="/welcome/hello" class="link-item">
        <p>Welcome Component</p>
      </div>
    </div> -->
    <div class="links">
      <div routerLink="/weather" class="link-item-p">
        <p>Weather</p>
      </div>
    </div>
    <div class="links">
      <div routerLink="users" class="link-item-p">
        <p>Users</p>
      </div>
    </div>
  </div>
</div>
